<html lang="en">
<%- include("./partials/head.ejs") %>

<body >
  <%- include("./partials/nav.ejs") %>

  <div class="main not-found content ">
    OOPS, page not found :) <br>
    Try a different page.
  </div>

  <%- include("./partials/footer.ejs") %>
</body>