<html lang="en">
<%- include("./partials/head.ejs") %>

<body >
  <%- include("./partials/nav.ejs") %>

  <div class="main not-found content ">
    <h1>404 Error</h1>
    <h4>
      OOPS, page not found :) <br>
      Try a different page.
    </h4> 
  </div>

  <%- include("./partials/footer.ejs") %>
</body>